// sass --watch ./SCSS/style.scss:./CSS/style.css 
@import "./variables_overrides.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  box-sizing: border-box;
  transition: 0.35s ease;
}



.content-container{
    p, tr{
        font-size: 0.7rem;
    }
}

.custom-table {
    border: 3px solid #999; /* Couleur secondaire de Bootstrap */
    border-radius: 0.25rem; /* Arrondir les coins du tableau */
    margin-bottom: 1rem; /* Espacement en bas du tableau */
}

.custom-table td {
    border: 2px solid #999; /* Bordures des cellules plus épaisses */
    border-radius: 90rem;
    padding: 0.5rem; /* Réduire le padding pour un tableau moins haut */
}

/* Si vous voulez enlever le padding des cellules pour rendre le tableau encore plus compact */
.custom-table td {
    padding: 0.25rem;
}


.rela-block {
  display: block;
  position: relative;
  margin: auto;
}

.rela-inline {
  display: inline-block;
  position: relative;
  margin: auto;
}

.floated {
  display: inline-block;
  position: relative;
  float: left;
}

#profilePic{
    z-index: 100000;
    position: absolute;
    right: 15px;
    top: 70px;
    width: 8%;
}
.abs-center {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: auto;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 28px;
  background: url("http://kingofwallpapers.com/leaves/leaves-016.jpg") right no-repeat;
  background-size: cover;
  position: relative;
}

html, body{
    height: fit-content;  
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.92);
}

.caps {
  text-transform: uppercase;
}

.justified {
  text-align: justify;
}

p.light {
  color: #777;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 600;
  line-height: 40px;
  color: #000;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 28px;
  color: black ;
  background-color:#ddd ;
}

.top-bar {
  height: 220px;
  background-color: #848484;
  color: #fff;
}

.name {
  position: absolute;
  width: 100%;
  left: calc(350px + 5%);
  height: 120px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 58px;
  letter-spacing: 8px;
  font-weight: 100;
  line-height: 60px;
}

.name div {
  width: 94%;
}

.side-bar {
  position: absolute;
  top: 60px;
  left: 5%;
  width: 350px;
  height: calc(100% - 60px);
  background-color: #f7e0c1;
  padding: 320px 30px 50px;
  overflow: auto;
  a{
    color: blue;
  }
  i{
    font-size: 0.7em;
  }
  .logo-text{
    color: inherit; /* Utilise la couleur du texte parent */
    text-decoration: none; /* Enlève le soulignement */
    cursor: default; /* Enlève le curseur pointer */
  }
}

.mugshot {
  position: absolute;
  top: 50px;
  left: 70px;
  height: 210px;
  width: 210px;
}

.mugshot .logo {
  margin: -23px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 250px;
}

.logo .logo-svg {
  height: 100%;
  width: 100%;
  stroke: #000;
}

.logo .logo-text {
  position: absolute;
  top: 60%;
  right: 16%;
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: 400;
  line-height: 58.3px;
}

.social {
  padding-left: 60px;
  margin-bottom: 20px;
}

.social:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 10px;
  height: 35px;
  width: 35px;
  background-size: cover !important;
}

.social.linked-in:before {
  background: url("https://cdn3.iconfinder.com/data/icons/social-media-2026/60/Socialmedia_icons_LinkedIn-128.png") center no-repeat;
}

.social.github:before {
    background: url("https://cdn3.iconfinder.com/data/icons/social-media-2253/25/Group-1024.png") center no-repeat;
  }


.side-header {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  letter-spacing: 4px;
  font-weight: 600;
  line-height: 28px;
  margin: 60px auto 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #888;
}

.list-thing {
  padding-left: 25px;
  margin-bottom: 10px;
}

.content-container {
  margin-right: 0;
  width: calc(95% - 350px);
  padding: 25px 40px 50px;
}

.content-container > * {
  margin: 0 auto 25px;
}

.content-container > h3 {
  margin: 0 auto 5px;
}

.content-container > p.long-margin {
  margin: 0 auto 50px;
}

.title {
  width: 80%;
  text-align: center;
}

.separator {
  width: 240px;
  height: 2px;
  background-color: #999;
}

.greyed {
  background-color: #ddd;
  width: 100%;
  max-width: 580px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 6px;
  font-weight: 600;
  line-height: 28px;
}



/*# sourceMappingURL=style.css.map */