// sass --watch ./SCSS/style.scss:./CSS/style.css 
@import "variables_overrides";
@import "../node_modules/bootstrap/scss/bootstrap.scss";


//polices personnalisées
@font-face
{
    font-family: "titles";
    src: url("../ressources/fonts/typewcond_regular.otf") format("opentype");
}

@font-face
{
    font-family: "base";
    src: url("../ressources/fonts/Quicksand-Regular.otf") format("opentype");
}

// formatage texte
*
{
    font-family: "base";
    font-weight: bold;
}
*:focus
{
    border: 3px solid $primary;
}
a
{
    text-decoration:none;
}

strong
{
    font-size: 130%;
}

h1,h2,h3,h4,h5
{
    font-family: "titles";
    color: $primary;
}

//gestion photo de profil

#profilePic
{
    object-fit:scale-down;
    width: auto;
    height: 150px;
}

// style progress bar
progress
{
    height: 15px ;
}

// dimensionnement images
.card-img-top
{
    height: 150px;
    width: auto;
    object-fit:scale-down;
    object-position: center;
}